@import "../../Styles/breakpoint.scss";

header {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  height: 80px;
  position: relative;
  .btnHeaderRight {
    position: absolute;
    right: 0;
    height: 100%;
  }
  button {
    border: none;
    background-color: rgb(123, 150, 121);
    height: 100%;
    transition: 0.2s;
    color: white;
    font-size: 15px;
    font-weight: 500;
    &:hover {
      background-color: rgb(95, 117, 93);
    }
    cursor: pointer;
    width: 250px;
    @include md {
      width: 100px;
    }
    @include sm {
      width: 80px;
    }
  }
}
